html {
  box-sizing: border-box;
  --color-primary: #5C88F6;
  /* --color-primary-light: #5C88F6; */
  --color-primary-muted: #7496EC;
  --color-primary-dark: #455EA0;
  --color-accent: #FB8C4D;
  --color-accent-muted: #FB8C4D;
  /* --color-accent-light: #FF772B; */
  --color-accent-dark: #F3691B;
  --max-app-width: 750px;
  --backdrop-height: 150px;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}