.card {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    height: 50vh;
    min-height: 250px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-size: 20px;
    font-weight: 500;
    padding: 1.5rem;
    box-shadow: 0 40 30 -20 rgba(0,0,0,0.25)
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  margin-top: 1rem
}

button {
  background-color: var(--color-accent) !important;
  color: white !important;
  text-transform: none !important
}
